export(blas.lib, print.blas.lib, multiblas.options, print.multiblas.options, print.multiblas.option)

export(opencl.platforms, print.opencl.platforms, print.opencl.platform)
export(opencl.devices, print.opencl.devices, print.opencl.device)

export(property, property.opencl.platform, property.opencl.device)
useDynLib(multiblas, opencl_platforms_C, opencl_devices_C, property_platform_C, property_device_C)
useDynLib(multiblas, opencl_context_C, opencl_queue_C, opencl_kernel_C, opencl_calc_x_C)

# export(null.externalptr, is.externalptr.null)
useDynLib(multiblas, null_externalptr_C, is_externalptr_null_C)

useDynLib(multiblas, crossprod_naive_C, crossprod_blas_C, crossprod_clblas_C)

useDynLib(multiblas, gemm_naive_C, gemm_blas_C, gemm_clblas_C, opencl_calc_gemm_C)
